html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

nav a, button {
    min-height: 48px;
    min-width: 48px;
  }
 

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #ddcc55;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #55cc55;
    font-size: 33px;
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0,0,0);
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* message for matching */
#match-msg {
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.26);
    font-size: 4em;
    font-weight: bold;
    color: #2a2;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 50%;
    z-index: 1000;
    animation-name: matched;
    animation-duration: 1.5s;

}

@keyframes matched {
    0% {
        background-color: #666;
    }
    10% {
        background-color: #fff;
    }
    20% {
        background-color: #777;
    }
    30% {
        background-color: #fff;
    }
    40% {
        background-color: #777;
    }
    50% {
        background-color: #fff;
    }
    60% {
        background-color: #888;
    }
    70% {
        background-color: #fff;
    }
    100% {
        background-color: #fff;
    }
}

.hidden {
    display: none;
}