html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

nav a, button {
    min-height: 48px;
    min-width: 48px;
  }

#mainhd {
    font-weight: bold;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #ddcc55;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
    animation-name: cardshake;
    animation-duration: 1s;
}

@keyframes cardshake {
    0% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.deck .card.match {
    cursor: default;
    background: #55cc55;
    font-size: 33px;
    /* animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0,0,0); */
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

#gametimer {
    box-sizing: border-box;
    box-shadow: 6px 8px 10px 0 rgba(46, 61, 73, 0.5);
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 10px;
    left: 80%;
    height: 22px;
    margin-right: 10px;
    padding: 2px 2px 2px 2px;
    text-align: center;
    width: 15%;
    z-index: 500;
}

/* message for matching */
#match-msg {
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    font-size: 4em;
    font-weight: bold;
    color: #2a2;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 70%;
    z-index: 2000;
    animation-name: matched;
    animation-duration: 1.5s;
}

@keyframes matched {
    0% {
        background-color: #666;
    }
    10% {
        background-color: #fff;
    }
    20% {
        background-color: #777;
    }
    30% {
        background-color: #fff;
    }
    40% {
        background-color: #777;
    }
    50% {
        background-color: #fff;
    }
    60% {
        background-color: #888;
    }
    70% {
        background-color: #fff;
    }
    100% {
        background-color: #fff;
    }
}

#win-msg {
    background: radial-gradient(white, rgb(168,255,128));
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0, 0, 255, .25);
    border-radius: 10px;
    font-size: 2em;
    height: 60%;
    text-align: center;
    position: absolute;
    width: 75%;
    max-width: 600px;
    z-index: 1000;
}

@media (max-width: 489px) {
    .score-panel {
        font-size: 20px;
    }
    .deck {
        width: 350px;
        min-height: 400px;
    }
    .deck .card {
        height: 65px;
        width: 65px;
    }
    #mainhd {
        font-size: 25px;
    }
    #match-msg {
        font-size: 2em;
    }
    #win-msg {
        font-size: 1.1em;
    }
}
  
@media (min-width: 490px) and (max-width: 679px) {
    .score-panel {
        font-size: 25px;
    }
    .deck {
        width: 500px;
        min-height: 550px;
    }
    .deck .card {
        height: 100px;
        width: 100px;
    }
    #mainhd {
        font-size: 25px;
    }
    #match-msg {
        font-size: 2.5em;
    }
    #win-msg {
        font-size: 1.5em;
    }

}
@media screen and (min-width: 680px) {
    .score-panel {
      font-size: 20px;
    }
    .deck {
        width: 660px;
        min-height: 680px;
    }
    .deck .card {
        height: 125px;
        width: 125px;
    }
    #mainhd {
        font-size: 25px;
    }
    #match-msg {
        font-size: 4em;
    }
    #win-msg {
        font-size: 1.9em;
    }
}

.hidden {
    display: none;
}